<div style="font-family: Permanent Marker; text-align: center">
  <h3>Please crop your images to your desired fashion.</h3>
</div>

<%= form_for @dilemma do |f| %>
<%= f.cropbox :option1, width: 300 %>
<%= f.crop_preview :option1 %>
<%= f.cropbox :option2, width: 300 %>
<%= f.crop_preview :option2 %>
<div>
  <%= f.submit 'Save', :class => 'btn tacky-btn' %>
</div>
<% end %>
<br>
<br>
