<% if user_signed_in? %>
  <%= button_to "Add a dilemma", new_dilemma_path, method: :get, :class => "btn tacky-btn" %>
<% else %>
<% end %>

<% if @dilemmas.any? %>

  <% @dilemmas.each do |dilemma| %>
  <div>
    <h3 onclick="paintIt(this, '#990000')"> <%= dilemma.occasion %> </h3>
    <%= form_tag(dilemma_votes_path(dilemma)) do |f| %>
      <%= image_submit_tag(dilemma.option1.url(:medium), name: 'Choice', value: 1) %>
      <%= image_submit_tag(dilemma.option2.url(:medium), name: 'Choice', value: 2)%>
    <% end %>
  <% end %>
  </div>

<% else %>
  <h2>This page is naked</h2>
<% end %>
