<% if user_signed_in? %>
  <%= button_to "Add a dilemma", new_dilemma_path, method: :get, :class => "btn tacky-btn" %>
<% else %>
<% end %>

<% if @dilemmas.any? %>

  <% @dilemmas.each do |dilemma| %>
    <h3> <%= dilemma.occasion %> </h3>
    <%= form_tag(dilemma_votes_path(dilemma), :method=>'post') do |f| %>
      <%= image_submit_tag(dilemma.option1.url(:medium), name: "choice", value: 1) %>
      <%= image_submit_tag(dilemma.option2.url(:medium), name: "choice", value: 2)%>
    <% end %>
    Option 1: <%=dilemma.votes.where(choice:'1').count%>
    Option 2: <%=dilemma.votes.where(choice:'2').count%>
  <% end %>

<% else %>
  <h2>This page is naked</h2>
<% end %>
