<% if user_signed_in? %>
  <%= button_to "Add a dilemma", new_dilemma_path, method: :get, :class => "btn tacky-btn" %>
<% else %>
<% end %>

<% if @dilemmas.any? %>

  <% @dilemmas.each do |dilemma| %>
  <div>
    <% if current_user %>
      <% if !current_user.has_voted?(dilemma) %>
        <div class='dilemmadiv'>
        <h3> <%= dilemma.occasion %> </h3>
        <%= form_tag(dilemma_votes_path(dilemma), :method=>'post') do |f| %>
          <%= image_submit_tag(dilemma.option1.url(:medium), name: "choice", value: 1) %>
          <%= image_submit_tag(dilemma.option2.url(:medium), name: "choice", value: 2)%>
        </div>
        <% end %>
      <% end %>
    <% else %>
    <h3> <%= dilemma.occasion %> </h3>
      <%= form_tag(dilemma_votes_path(dilemma), :method=>'post') do |f| %>
        <%= image_submit_tag(dilemma.option1.url(:medium), name: "choice", value: 1) %>
        <%= image_submit_tag(dilemma.option2.url(:medium), name: "choice", value: 2)%>
      <% end %>
    <% end %>

  <% end %>
  </div>

<% else %>
  <h2>This page is naked</h2>
<% end %>
