<% if user_signed_in? %>
  <%= button_to "Add a dilemma", new_dilemma_path, method: :get, :class => "btn tacky-btn" %>
<% else %>
<% end %>

<% if @dilemmas.any? %>

  <% @dilemmas.each do |dilemma| %>
  <div>
    <h3 onclick="paintIt(this, '#990000')"> <%= dilemma.occasion %> </h3>
    <%= image_tag dilemma.option1.url(:medium) %>
    <%= image_tag dilemma.option2.url(:medium) %>
  </div>
  <%= form_tag(dilemma_votes_path(dilemma), method: "post") do |f| %>
  <%= submit_tag 'Option 1' %>
  <%= submit_tag 'Option 2' %>
  <% end %>

  <% end %>
<% else %>
  <h2>This page is naked</h2>
<% end %>
