<!DOCTYPE html>
<html>
<head>
  <title>Dress2Impress</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/css?family=Permanent+Marker|Shadows+Into+Light" rel="stylesheet">
</head>
<body>
  <%= render 'shared/header' %>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>


<%= yield %>

<div class="panel-footer"><h3><%= current_user.name %> is
  styling the world one dilemma at a time...</h3>
</div>

</body>
</html>
